* {
  box-sizing: border-box;
}

body{
  padding-bottom: 100px;
}

#puzzleQuestion .current-char {
  font-weight: bold;
  position: relative;
}

#puzzleQuestion .cipher-char {
  padding: 0 .12em 0 .12em;
}

#puzzleQuestion .current-char::after {
  content: "⬆";
  position: absolute;
  top: 0.75em;
  left: 0;
  width: 100%;
  text-align: center;
}

#puzzleAnswer .correct {
  color: green;
}

#puzzleAnswer .incorrect {
  color: red
}

.current-char {
  text-decoration: underline;
}

#puzzleRing {
  display: block;
  position: relative;
  top: 30px; 
  text-align: center;
  margin-bottom: 40px;
  width: 600px;
}

#ringWrapper {
  display: inline-block;
  position: relative;
  font-size: 42px;
  font-family: 'Courier New', Courier, monospace;
  transform-style: preserve-3d;
  transform: rotateX(-4deg);
  width: 48px;
}

#puzzleRing ul#characters {
  display: block;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
  transform-style: preserve-3d;
  transition: transform 0.2s;
}

#puzzleRing ul#characters li {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
  list-style: none;
  text-align: center;
  background-color: bisque;
  border: solid rgb(145,87,0);
  border-width: thin thin;
}

#puzzleRing #controls {
  margin-top: 60px;
}
