span.correct {
  color: green;
}

span.incorrect {
  color: red
}

#puzzleRing #characters {
  /* margin-bottom: 1em; */
}

.characterSet {
  padding: 0 .12em 0 .12em;
}

<<<<<<< HEAD
span.current-char {
  font-weight: bold;
=======
.current-char {
>>>>>>> 74259673ce45d6fe1013bc38327d92c59b963288
  text-decoration: underline;
  position: relative;
}

#puzzleQuestion .current-char::after {
  content: "^";
  position: absolute;
  top: 1em;
  left: 0;
}

