{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "plugins": ["compat", "no-unsanitized"],
  "extends": ["eslint:recommended", "plugin:no-unsanitized/DOM"],
  "rules": {
    "compat/compat": "error"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
